---
title: Stem
---

<div id="mode-toggler">
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<%= javascript_include_tag "vendor/json2" %>
<%= javascript_include_tag "vendor/underscore" %>
<%= javascript_include_tag "lib/stem" %>
<%= javascript_include_tag "sample/sample" %>